.data-hora{
    text-align: center;
}

#dialog-p {
    border-radius: 20px;
    padding: 30px;
    color: gray;
}
.dialog-data{
    text-align: center;
}
.dialog-hora{
    text-align: center;
}
::backdrop {
    background-image: linear-gradient(
        45deg,
        cyan,
        rgb(11, 172, 212),
        rgb(0, 153, 255),
        blue,
        purple
    );
    opacity: 0.75;
}

#dialog-fechar {
    position: absolute;
    top: 10px;
    right: 10px;
    color:red;
}

#dialog-entradas {
    color: blue;
}
#dialog-data{
    color:black;
}
#dialog-hora{
    color:black;
}
